* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f19066;
  font-family: "Nunito Sans", sans-serif;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo {
  background: white;
  font-size: 25px;
  color: black;
  margin: 50px;
}
